<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/opcion-calificacion.css' %}"></link>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/adicionarGruposAgentes.js' %}"></script>
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/campanas/adicionar_agentes_base.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <div>
        <form action="{%  url 'queue_member_campana' campana.pk %}" role="form" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card" id="gruposAgentes">
                        <div class="card-header">
                            {% trans 'Agregar grupo de agentes' %}
                        </div>
                        <div class="card-body">
                            {{ grupos_form.as_table }}
                            <a href="#" class="btn btn-outline-primary" id="adicionarAgente">{% trans 'Agregar grupo' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <table>
                {% block formset_render %}
                    <input class="hidden" value="{{ queue_member_form.prefix }}" id="wizard">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th>{% trans 'Agente' %}</th>
                                <th>{% trans 'Penalty' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if queue_member_form.non_form_errors %}
                                {% for error in queue_member_form.non_form_errors %}
                                    <div class="alert alert-warning">{{ error|escape }}</div>
                                {% endfor %}
                            {% endif %}
                            {% for queue_form in queue_member_form.forms %}
                                <tr class="linkFormset">
                                    {% if queue_form.errors %}
                                        <div class="alert alert-warning">{{ queue_form.errors|escape }}</div>
                                    {% endif %}
                                    <td class="member">
                                        {{ queue_form.member.errors }}
                                        {{ queue_form.member|add_class:"form-control" }}
                                    </td>
                                    <td class="penalty">
                                        {{ queue_form.penalty.errors  }}
                                        {{ queue_form.penalty|add_class:"form-control" }}
                                    </td>
                                    <td class="id">{{ queue_form.id }}</td>
                                    <td></td>
                                    <td>
                                        {% if queue_form.instance.pk %}
                                            {{ queue_form.DELETE }}
                                        {% endif %}
                                    </td>
                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                    {{ queue_member_form.management_form }}
                {% endblock %}
            </table>
            <button class='btn btn-primary' type='submit' data-loading-text={% trans 'Cargando...' %}>
                {% trans "Finalizar" %}
            </button>
        </form>
    </div>
{% endblock %}
