<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


<div class="form-row">
    <div class="col-md-6">
        <h1>{% trans 'Usuarios' %}</h1>
        <h3>{% trans 'Activos:' %} {{ numero_usuarios_activos  }}</h1>
    </div>
    <div class="col-md-3">
        <form method="GET" action="{% url 'user_list' page=1 %}" class="filter-flex">
            <input type="text" id="filtroUsuarios" class="form-control" name="search" value="{{ search }}">
            <input type="submit" class="btn btn-primary" value="{% trans 'Filtrar' %}">
        </form>
    </div>
    <div class="col-md-3">
        <form method="POST" action="{% url 'descargar_usuarios_csv' %}">
            {% csrf_token %}
            <input class="hidden" id="filtroUsuariosCSV" name="nombre_usuario" type="text" value="{{ search }}"/>
            <button type="submit" class="btn btn-primary">
                {% trans 'Descargar lista de usuarios (CSV)' %}
            </button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'username' %}</th>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Apellido' %}</th>
            <th>{% trans 'Perfil' %}</th>
            {% if edita_user or elimina_user or edita_agente or elimina_agente %}
              <th>{% trans 'Acciones' %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for usuario in page_obj %}
        <tr id="{{usuario.username}}">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>
                {% if usuario.is_agente %}
                  {% if modifica_perfil_agente %}
                    <a name="edit_agent_profile" href="{% url 'agenteprofile_update' usuario.get_agente_profile.id %}">{% trans 'Modificar perfil Agente' %}</a>
                  {% else %}
                    {% trans 'Agente' %}
                  {% endif %}
                {% elif usuario.is_supervisor %}
                  {% if modifica_perfil_supervisor %}
                    <a name="edit_profile" href="{% url 'supervisor_update' usuario.get_supervisor_profile.id %}">{% trans 'Modificar perfil Supervisor' %}</a>
                  {% else %}
                    {% trans 'Supervisor' %}
                  {% endif %}
                {% elif usuario.is_cliente_webphone %}
                    {% trans 'Cliente WebPhone' %}
                {% else %}
                    <span class="icon icon-cancel" aria-hidden="true"></span>
                {% endif %}
            </td>

            {% if edita_user or elimina_user or edita_agente or elimina_agente %}
              <td>
                {% if usuario.is_agente %}
                  {% if edita_agente or elimina_agente %}
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans 'Opciones' %}
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                        {% if edita_agente %}
                            <a name="edit_user" class="dropdown-item" href="{% url 'agent_update' usuario.id %}">
                                <span class="icon icon-pencil"></span>{% trans 'Editar' %}
                            </a>
                        {% endif %}
                        {% if elimina_agente %}
                            <a name="delete_user" class="dropdown-item" href="{% url 'agent_delete' usuario.id %}">
                                <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                            </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% else %}
                  {% if edita_user or elimina_user %}
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans 'Opciones' %}
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                        {% if edita_user %}
                            <a name="edit_user" class="dropdown-item" href="{% url 'user_update' usuario.id %}">
                                <span class="icon icon-pencil"></span>{% trans 'Editar' %}
                            </a>
                        {% endif %}
                        {% if elimina_user and usuario.id != 1 %}
                            <a name="delete_user" class="dropdown-item" href="{% url 'user_delete' usuario.id %}">
                                <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                            </a>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endif %}
              </td>
            {% endif %}

        </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No existen usuarios' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.previous_page_number%}{{ search_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item current">
            {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.next_page_number %}{{ search_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
