<!--
     Copyright (C) 2018 Freetech Solutions

     This file is part of OMniLeads

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends 'base.html'  %}

{% load i18n %}

{% block content %}
    <h1>{% trans 'Addons comerciales disponibles' %}</h1>
    {% for addon_name, addon_url, description, author, author_url, release_version, icon in addons_info %}
        {% if release_version %}
            <div class="card border-success mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ icon }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-primary">
                            <h5 class="card-title"><a href="{{ addon_url }}" target="_blank">{{ addon_name }}</a></h5>
                            <p class="card-text text-secondary">{{ description }}</p>
                            {% if release_version  %}
                                <p class="card-text"><small class="text-muted">{{ release_version }}</small></p>
                            {% endif %}
                        </div>
                        <div class="card-footer bg-transparent border-success">
                            <h5 class="card-title">{{ author }}</h5>
                            <p class="card-text text-secondary"><a href="{{ author_url }}" target="_blank">{{ author_url }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
