<!--
     Copyright (C) 2018 Freetech Solutions

     This file is part of OMniLeads

     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.

     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.

     You should have received a copy of the GNU General Public License
     along with this program.  If not, see http://www.gnu.org/licenses/.

   -->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/busqueda_auditorias.js' %}"></script>
{% endblock %}
{% block content %}


    <h1>{% trans 'Auditoría' %}</h1>
    <h2>{% trans 'Buscar calificaciones de gestión' %}</h1>

    <div id="wrapper-search">
        <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span> {% trans 'Buscar' %}</button>
        <div id="wrapperSearchForm" class="show">
            <form id="form-buscar-gestiones" role="form" method="post" enctype="multipart/form-data">
                {% include "base_form_fields.html" with form=form %}
                <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                    {% trans 'Buscar' %}
                </button>
            </form>
        </div>
    </div>
    {% if no_renderizar == False %}
    <div class="wrapper-results">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>{% trans 'Fecha/Hora' %}</th>
                    <th>{% trans 'Agente' %}</th>
                    <th>{% trans 'Id de contacto' %}</th>
                    <th>{% trans 'Teléfono' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Detalles' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for calificacion in calificaciones %}
                    {% if calificacion.tiene_auditoria_pendiente %}
                        <tr class="pendiente">
                    {% elif calificacion.tiene_auditoria_aprobada %}
                            <tr class="aprobada">
                    {% elif calificacion.tiene_auditoria_rechazada %}
                            <tr class="rechazada">
                    {% else %}
                            <tr class="observada">
                    {% endif %}
                        <td>{{ calificacion.modified|date:"Y-m-d H:i"}}</td>
                        <td>{{ calificacion.agente}}</td>
                        <td>{{ calificacion.contacto.id}}</td>
                        <td>{{ calificacion.contacto.telefono}}</td>
                        {% with auditoria=calificacion.obtener_auditoria %}
                            {% if auditoria %}
                                <td>{{ auditoria.get_resultado_display }}</td>
                            {% else  %}
                                <td>{% trans 'Pendiente' %}</td>
                            {% endif %}
                        {% endwith %}
                        <td><a class="detalles" href="{% url 'auditar_calificacion_cliente' calificacion.pk %}">{% trans 'Auditar calificación' %}</a></td>
                            </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">{% trans 'No existen calificaciones' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if calificaciones.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" onclick="javascript:filtrar_pagina({{calificaciones.previous_page_number}})">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">{% trans 'Anterior' %}</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in calificaciones.paginator.page_range %}
                    <li class="page-item {% if calificaciones.number == page  %}active{% endif %}"><a class="page-link" href="#" onclick="javascript:filtrar_pagina({{page}})">{{ page }}</a></li>
                {% endfor %}

                {% if calificaciones.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" onclick="javascript:filtrar_pagina({{calificaciones.next_page_number}})">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">{% trans 'Siguiente' %}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/select2.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/auditoria.css' %}">
{% endblock %}

{% block extra_js %}

    <script>
     /* se activa en todos los campos de selección un plugin para
        JQuery que permite una mejor búsqueda */
     $(document).ready(function() {

       $('select.form-control').each(function() {
         $(this).select2();});
     });
    </script>
{% endblock %}
