<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load i18n %}
        {% for campana in borradas %}
            <tr>
                <td width="5%">{{ campana.id }}</td>
                <td width="25%">
                    <a href="{% url 'campana_update' campana.pk %}">{{ campana.nombre }}</a>
                </td>
                <td>{{ campana.queue_campana.maxlen }}</td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignDeleted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans 'Opciones' %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignDeleted">
                            <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                                <span class="icon icon-list"></span>{% trans 'Calificaciones' %}
                            </a>
                            <a class="dropdown-item" href="{% url 'reporte_de_resultados' campana.pk %}">
                                <span class="icon icon-graph"></span>{% trans 'Resultados de Base' %}
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                                <span class="icon icon-graph"></span>{% trans 'Reportes' %}
                            </a>
                            {% if campana.oculto %}
                            <a class="dropdown-item" href="{% url 'desoculta_campana' campana.pk %}">
                                <span class="icon icon-eye"></span>{% trans 'Hacer visible' %}
                            </a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'oculta_campana' campana.pk %}" >
                                <span class="icon icon-eye-slash"></span>{% trans 'Ocultar' %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="4">{% trans 'No existen campañas' %}</td>
        </tr>
        {% endfor %}
