<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
    <script type="text/javascript" src="{% static 'ominicontacto/JS/supervision/agente_profile_list.js' %}"></script>
    <script src="{% static 'ominicontacto/JS/jquery.dataTables.min.js' %}"></script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
<div class="form-row">
    <div class="col-md-9">
        <h1>{% trans 'Agentes' %}</h1>
    </div>
    <div class="col-md-3">
        <form method="GET" action="{% url 'agente_list' page=1 %}" class="filter-flex">
            <input type="text" class="form-control" name="search" value="{{ search }}">
            <input type="submit" class="btn btn-primary" value="{% trans 'Filtrar' %}">
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'nombre del agente' %}</th>
            <th>{% trans 'sip_extension' %}</th>
            <th>{% trans 'grupo' %}</th>
            <th>{% trans 'campañas' %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for agente in page_obj%}
        <tr id="{{agente.user}}">
            <td>{{ agente.id }}</td>
            <td>{{ agente.user.first_name}} {{ agente.user.last_name}}</td>
            <td>{{ agente.sip_extension }}</td>
            <td>{{ agente.grupo}}</td>
            <td>
                <a class="btn btn-light btn-sm" href="#" onclick="obtener_campanas_agente({{ agente.id }})" >
                    {% trans 'Mostrar Campañas' %}
                </a>
            </td>
            <td>
                {% if agente.is_inactive %}
                {% trans 'Agente Inactivo' %}
                <a class="btn btn-light btn-sm"  href="{% url 'agente_activar' agente.pk %}" >
                    {% trans 'activar' %}
                </a>
                {% else %}
                {% trans 'Agente Activo' %}
                <a class="btn btn-light btn-sm" href="{% url 'agente_desactivar' agente.pk %}" >
                    {% trans 'desactivar' %}
                </a>
                {% endif %}
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No existen agentes' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'agente_list' page=page_obj.previous_page_number%}{{ search_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item current">
            {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'agente_list' page=page_obj.next_page_number %}{{ search_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
<div class="modal" id="campanasAgenteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">{% trans 'Campañas' %}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                  <table class="table" id="campanasAgenteTable">
                      <thead>
                          <tr>
                              <th>{% trans 'ID' %}</th>
                              <th>{% trans 'Nombre' %}</th>
                              <th>{% trans 'Objetivo' %}</th>
                          </tr>
                      </thead>
                  </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar'  %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{% endblock %}
