<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_js %}
  <script type="text/javascript" src="{% static 'ominicontacto/JS/supervision/grupo.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{% trans 'Nuevo grupo de agentes'%}</h1>
<form action = "" method = "post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-4">
            {{ form.nombre.label_tag }} {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="col-md-3">
            {{ form.auto_unpause.label_tag }} {{ form.auto_unpause }}
            {{ form.auto_unpause.errors }}
            <small class="form-text text-muted">
                {{ form.auto_unpause.help_text }}
            </small>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3">
            {{ form.auto_attend_inbound.label_tag }} {{ form.auto_attend_inbound }}
            {{ form.auto_attend_inbound.errors }}
        </div>
        <div class="col-md-2">
            {{ form.auto_attend_dialer.label_tag }} {{ form.auto_attend_dialer }}
            {{ form.auto_attend_dialer.errors }}
        </div>
        <div class="col-md-3">
            {{ form.obligar_calificacion.label_tag}} {{ form.obligar_calificacion}}
            {{ form.obligar_calificacion.errors }}
        </div>
        <div class="col-md-3">
            {{ form.call_off_camp.label_tag}} {{ form.call_off_camp}}
            {{ form.call_off_camp.errors }}
        </div>
        <div class="col-md-3">
            {{ form.acceso_grabaciones_agente.label_tag }} {{ form.acceso_grabaciones_agente }}
            {{ form.acceso_grabaciones_agente.errors }}
        </div>
        <div class="col-md-3">
            {{ form.acceso_dashboard_agente.label_tag }} {{ form.acceso_dashboard_agente }}
            {{ form.acceso_dashboard_agente.errors }}
        </div>
        <div class="col-md-3">
            {{ form.on_hold.label_tag }} {{ form.on_hold }}
            {{ form.on_hold.errors }}
        </div>
    </div>
    <button type="submit" id="id_registrar" class="btn btn-primary">
        {% trans 'Guardar' %}
    </button>
</form>

{% endblock %}
