<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="form-row">
    <div class="col-md-9">
        <h1>{% trans 'Supervisor' %}</h1>
    </div>
    <div class="col-md-3">
        <form method="GET" action="{% url 'supervisor_list' page=1 %}" class="filter-flex">
            <input type="text" class="form-control" name="search" value="{{ search }}">
            <input type="submit" class="btn btn-primary" value="{% trans 'Filtrar' %}">
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'nombre del supervisor' %}</th>
            <th>{% trans 'sip_extension' %}</th>
            <th>{% trans 'Es administrador' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for supervisor in page_obj %}
        <tr>
            <td>{{ supervisor.id }}</td>
            <td>{{ supervisor.user.first_name}} {{ supervisor.user.last_name}}</td>
            <td>{{ supervisor.sip_extension }}</td>
            <td>
                {% if  supervisor.is_administrador %}
                    <span class="icon icon-check" aria-hidden="true"></span>
                {% else %}
                       <span class="icon icon-cancel" aria-hidden="true"></span>
                {% endif %}
            </td>
          </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No existen supervisores' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'supervisor_list' page=page_obj.previous_page_number%}{{ search_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item current">
            {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'supervisor_list' page=page_obj.next_page_number %}{{ search_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
